{% extends 'template.html.twig' %}
{% block title %}
    {{ parent() }} | Home
{% endblock %}
{% block dumpArea %}

{% endblock %}
{% block sectionOne %}
    <div class="flex flex-col my-12 mx-auto w-full items-center">
        <h1 class="text-5xl text-gray-600 mt-12">
            Welcome&excl;
        </h1>
        <h2 class="text-4xl text-gray-500 text-center my-6">
            Here's your shortened URL <span class="text-2xl italic">&lpar;click on it to copy to clipboard&rpar;</span>
        </h2>
        {#
        <h3 id="shortUrl">http://shorts/public/?s={{ shortUrl }}</h3>
        #}
        <h3 id="shortUrl" class="relative cursor-pointer">https://leerlandais.com/shorts/public/?s={{ shortUrl }}</h3>
        <span id="copiedMsg"
              class="absolute left-1/2 -translate-x-1/2 -top-6 text-xs bg-gray-800 text-white px-2 py-1 rounded opacity-0 transition-opacity">
        Copied!
    </span>
    </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="{{ PUB_DIR }}scripts/copyHandler.js"></script>
<script src="{{ PUB_DIR }}scripts/urlCopier.js"></script>
{% endblock %}
        